@import 'https://fonts.googleapis.com/css?family=Lora';
.batonnet-processed {
	font-family: 'Lora', serif;
}

.batonnet-group {
	position: relative;
}

.batonnet-slash {
	display: inline-block;
	transform: rotate(75deg);
	position: absolute;
	left: 50%;
}
